# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# macOS
.DS_Store

# macOS
.DS_Store

# Node
node_modules/
package-lock.json

# Lighthouse
ipns.json

# Broadcast logs
/broadcast/
